
/* main{
    height: calc(100vh - 155px);
    background-image: url(/img/fondo.webp);
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    object-fit: cover;
}

.btn-buy{
    margin: 3rem;
    padding: 10px 100px;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.671);
    font-family: 'Kaushan Script', cursive;
    font-size: large;
}
.btn-buy:hover{
    background: white;
    transition: .3s;
}
.img-coffee{
    width: 80%;
    height: 500px;
    margin: auto;
    background-image: url(/img/Café-chocolate-y-avellana-Juan-Valdez-1024x683.jpg);
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;   
    border-radius: 20rem; 
    border: 7px solid white;
}
footer{
    height: 50px;
    text-align: center;
    font-size: 10px;
    background-color: black;
    color: white;
    padding: 1rem;
}
.col{
    padding: 3.5rem;
}

h1, a, p{
    font-family: 'Kaushan Script', cursive;
}
p{
    text-align: justify;
}

.descripcion{
    background-color: #ece3e3b3;
    padding: 1rem;
} */